@charset "UTF-8";

@media screen and (max-width: 1200px ){
    .cabecalho_menu_link_img {
        width: 90%;
    }

    .cabecalho_menu {
        margin: 0px 60px 0 40px;
    }

    .cabecalho_me {
        min-width: 80%;
    }

    .cabecalho {
        right: 0px;
        width: auto;
    }

    .principal {
        margin-top: 20px;

    }
     
    .botao-customizado {
        padding: 8px 16px; /* Ajuste o padding conforme necessário */
        font-size: 1rem; /* Ajuste o tamanho da fonte conforme necessário */
    }
    

    .imagem {
        width: 100%;
        margin: auto;
    }

    .paragrafo {
        min-width: 520px;
        right: auto;
    }
}


    

@media screen and (max-width: 950px) {
    .cabecalho_menu_link_img {
        width: 35%;
    }

    i#menu{
        display: block;
    }

    .cabecalho_me {
        display: none;
    }

    .botao-customizado {
        padding: 7px 14px; /* Ajuste o padding conforme necessário */
        font-size: 0.9rem; /* Ajuste o tamanho da fonte conforme necessário */
    }
    

    .imagem {
        width: 90%;
    }
    .principal {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #partir {
        width: 98%;

    }
}


    


    




/* Media query para telas menores que 768px */
@media only screen and (max-width: 768px) {

    body {
        padding: 20px 13px 0px 13px;
    }

    .principal {
        display: flex;
        flex-direction: none;
        align-items: center;
        margin: 0px;
    }
    .cabecalho_menu_link_img {
        width: 75%;
    }

    i#menu {
        font-size: 34px;

    }
    .cabecalho {
        /* flex-direction: column; */
        padding: 0%;
        justify-content: space-between;
        margin: 0% 2% 0% 2%;

    }

    
    .logo_patinhas {
        max-width: 30%;
    }

    .imagem {
        width: 85%;
    }

    .botao-customizado {
        padding: 6px 12px; /* Ajuste o padding conforme necessário */
        font-size: 0.8rem; /* Ajuste o tamanho da fonte conforme necessário */
    }
    

    #partir {
        border: 1px solid var(--cor-terciaria);
        font-size: 1rem;
        flex-direction: column;


    }

    .formulario {
        align-items: center;
        width: 100%;
    }

    input {
        width: 60%;
    }
    .enviar {
        font-size: 1rem;
    }
}

/* Media query para telas menores que 576px */
@media only screen and (max-width: 576px) {
    *{
        padding: 0%;
    }

    body {
        max-width: 576;
        padding: 5px 15px 10px 10px;
    }

    i#menu{
        padding-left: 400px;

    }

    .cabecalho {
        right: 0px;
        width: auto;
    }

    .cabecalho_menu {
        margin: 0px 60px 0 40px;
    }

    .cabecalho_me {
        min-width: 80%;
    }

    .cabecalho_menu_link_img {
        width: 90px;

    }


    .imagem {
        display: flex;
        width: 90%;
    }


    .subtitulo {
        font-size: 1.25rem;
        line-height: 25px;
        margin: 7% 1% 7% 0%;


    }

    .paragrafo {
        font-size: 0.7rem;
        line-height: 20px;



    }

    .botao-customizado {
        padding: 5px 10px; /* Ajuste o padding conforme necessário */
        font-size: 0.7rem; /* Ajuste o tamanho da fonte conforme necessário */
    }
    

    .enviar {
        width: 40%;
    }
    #partir {

        border: 1px solid var(--cor-terciaria);

        /* padding: 35px; */

        flex-direction: column;
        align-items: center;
        width: 100%;


    }
    .formulario {
        width: 350px; /* Defina a largura desejada para o formulário */
    }

    .rodape {
        width: 100%; /* Certifique-se de que o rodapé ocupa toda a largura */
        text-align: center; /* Centralize o texto horizontalmente */
    }

    .sub_subtitulo {
        max-width: 400px;

    }


    .sub_subtitulo-caixa {
        font-size: 1.2rem;
    }
    .sub_subtitulo {
        font-size: 1.1rem;
    }
}

/* Media query para telas menores que 320px */
@media only screen and (max-width: 320px) {

    body {
        font-size: 0.6rem;
        padding: 4px 4px 0px 8px; 

    }

    i#menu{
        padding-left: 380px;

    }

    .cabecalho_menu_link_img {
        width: 90%;

    }

    .cabecalho_menu {
        margin: 0px 200px 0 10px;
    }

    .cabecalho_me {
        /* padding-left: 30%; */
        min-width: 10%;
    }

    .cabecalho {
        width: auto;
        flex-direction: row; /* Altera a direção para empilhar verticalmente */
        justify-content: space-between;
        /* gap: 50px; */

        /* padding-left: 300px; */

    }

    .tamanho_texto {
        width: 100%;
    }
    

    .cabecalho_menu_link_img {
        width: 120px; /* Ajuste o tamanho conforme necessário */
    }

    .principal {
        margin: 0px;
    }

    .imagem {
        padding-left: 30%;
        width: 180%;
    }
    .subtitulo {
        font-size: 1.25rem;
        line-height: 25px;
        width: 460px;
        margin: 5%;

    }

    .paragrafo {
        font-size: 0.7rem;
        line-height: 20px;
        width: 100%;
        margin: 5%;


    }

    /* .principal {
    } */

    .botao-customizado {
        margin: 5%;
    padding: 4px 8px; /* Ajuste o padding conforme necessário */
    font-size: 0.8rem; /* Ajuste o tamanho da fonte conforme necessário */
}


    .enviar {
        width: 40%;
        left: auto;
    }
    #partir {
        flex-wrap: wrap;
        margin-left: 2%;

        border: 1px solid var(--cor-terciaria);

        padding: 105px; 
        /* padding-right: 35px; */

        flex-direction: column;
        align-items: center;
        width: 98%;
        left: auto;
    }
    .formulario{
        /* max-width: 350px; */
        margin: 0 auto; /* Centralizar horizontalmente */
        
    }

    .sub_subtitulo {
        max-width: 300px;

    }

    .caixa_texto {
        padding: 0px;
    }



    .sub_subtitulo-caixa {
        font-size: 1.5rem;
    }
    .sub_subtitulo {
        font-size: 1.3rem;
    }

    .rodape {
        font-size: 0.8rem; /* Ajuste o tamanho da fonte do rodapé conforme necessário */
    }

    


}

