/* TENTE NOVAMENTE */

@media screen and (max-width: 1200px ){

    
    .cabecalho_menu_link_img {
        width: 90%;
    }

    .cabecalho_menu {
        margin: 0px 60px 0 50px;
    }

    .cabecalho_me {
        min-width: 80%;
    }

    .cabecalho {
        right: 0px;
        width: auto;
    }

    .principal {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content:flex-start;


        margin-top: 20px;
    }

    .botao-customizado {
        margin-left: 40px;
        padding: 8px 16px;
        font-size: 1rem;
    }


    .midias .imagem {
        width: 50%;
        margin: 0 auto; 
    }

    .tamanho_texto {
        padding-right: 100px;
    }

    .subtitulo {
        max-width: 800px;
    }

    .paragrafo {
        max-width: 800px;
        right: auto;
    }
}




@media screen and (max-width: 988px) {

    

    .cabecalho_menu_link_img {
        width: 85%;
    }

    i#menu{
        display: block;
    }

    .cabecalho_me {
        display: none;
    }



    .botao-customizado {
        padding: 7px 14px;
    }


    .midias .imagem {
        width: 50%;
        margin: 0 auto; 
    }

    .principal {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0%;
    }

    #partir {
        width: 90%; 
        max-width: 90%; 
        padding: 30px;
    }

    .tamanho_texto {
        padding-right: 100px;
    }
    

    .subtitulo {
        padding: 0%;
        max-width: 800px;
    }
    
    .sub_subtitulo {
        font-size: 1.625rem;
    }
    
    .sub_subtitulo-caixa {
        font-size: 1.625rem;
        color: var(--cor-snap);
    }

    

    .paragrafo {
        right: auto;
    }
}










/* Media query para telas menores que 768px */
@media only screen and (max-width: 768px) {

    

    .principal {
        display: flex;
        flex-direction: none;
        align-items: center;
        width: 100%;

    }

    .espacamento {
        padding: 2%;
    }

    .cabecalho_menu_link_img {
        width: 30%;
    }


    

    .cabecalho {
        padding: 0%;
        justify-content: space-between;
    }

    i#menu {
        font-size: 35px;

    }


    

    .midias img {
        margin: 0 auto; 
        width: 80%;
    }

    .tamanho_texto {
        padding:0%;
    }

    .imagem {
        margin: 0%;
    }
    
    .subtitulo {
        font-size: 1.7rem;
        padding: 0%;
    }
    
    .paragrafo {
        font-size: 1rem;
        padding: 0%;
    }

    .botao-customizado {
        padding: 6px 12px;
        font-size: 0.8rem;
        margin: 0%;
    }


    #partir {
        border: 1.5px solid var(--cor-terciaria);
        font-size: 1rem;
        flex-direction: column;
        justify-content: center;
   
    }

    .formulario {
        align-items: center;
        width: 100%;
        
    }

    .caixa_texto {
        padding: 0%;
    }

    .sub_subtitulo-caixa {
        font-size: 1.2rem;
    }

    .sub_subtitulo {
        font-size: 1.2rem;
    }

    input {
        width: 50%;
        padding: 10px 21px;
    }

    .enviar {
        font-size: 1rem;
    }
}

/* Media query para telas menores que 576px */
@media only screen and (max-width: 579px) {
    .espacamento{
        padding: 15px;
    }
    


    .cabecalho_menu_link_img {
        width: auto;
        margin: 5%;        

        }

    .logo_patinhas{

        max-width: 2%;
        padding: 0%;
        margin: 0%;
    }

        

    i#menu {
        display: none;
    }

    .cabecalho {
        max-width: 10%;
        padding: 0%;
        margin: 0%;
        
    }

    .logo_patinhas {
        max-width: 0%;
        margin: 0 auto; 

    }



    .principal {
        width: 100%;

    }


    .subtitulo {
        font-size: 0.95rem;
        line-height: 20px;
        margin: 0%;
        width: 100%;


    }

    .paragrafo {
        font-size: 0.7rem;
        line-height: 20px;
        margin: 0%;
        


    
    }

    .botao-customizado {

        font-size: 0.7rem;
        margin: 0%;
        margin-top: 15px;
    }


    #partir {
        padding: 20px;
        margin: 0%;
    }

    .imagem {
        width: 100%;
        padding: 0%;
        margin: 0%;
    }

    .formulario {
        width: 100%;
        padding: 0px;
    }

    input {
        font-size: 10px;
    }

    .sub_subtitulo {
        font-size: 0.9rem;
    }

    

    .sub_subtitulo-caixa {
        font-size: 1.0rem;
    }
}


/* Media query para telas menores que 320px */
@media only screen and (max-width: 320px) {
    

    i#menu {
        padding-left: 380px;
    }

    .cabecalho_menu_link_img {
        width: 90%;
    }

    .cabecalho_menu {
        margin: 0 10px;
    }

    .cabecalho_me {
        min-width: 10%;
    }

    .cabecalho {
        width: auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .cabecalho_menu_link_img {
        width: 100px;
    }

    .imagem {
        width: 180%;
    }

    .subtitulo {
        font-size: 0.7rem;
        line-height: 15px;
    }

    .paragrafo {
        font-size: 0.55rem;
        line-height: 15px;
    }

    .botao-customizado {
        padding: 4px 8px;
        font-size: 0.8rem;
    }

    
    #partir {
        padding: 5%;
    }

    input {
        padding: 2% 3%;
    }

    .enviar {
        font-size: 8px;
        padding: 0px;
        height: 20px;
        width: 30%;

    }

    .sub_subtitulo {
        font-size: 0.7rem;
        max-width: 320px;
    }

    .imagem_caixa {
        width: 100%;
    }

    .sub_subtitulo-caixa {
        font-size: 0.65rem;
    }

    
    .rodape {
        font-size: 0.8rem;
    }
}